@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@400&display=swap');

:root {
    --background: #010626;
    --pane-padding: 5px 42px;
    --online: #00FF00;
    --synchronizing: #FF681E;
    --offline: #FF000D;
    --white: white;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
    flex-direction: column;
    font-family: 'Lexend Exa', sans-serif;
}

#status-legend {
    display: flex;
    overflow: hidden;
    width: 50vw;
    justify-content: space-between;
    font-size: 1.6em;
}

.status-example {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 1.4vh;
}

#dot-online {
    background-color: var(--online);
}

#status-online {
    color: var(--online);
}

#status-synchronizing {
    color: var(--synchronizing);
}

#dot-synchronizing {
    background-color: var(--synchronizing);
}

#status-offline {
    color: var(--offline)
}

#dot-offline {
    background-color: var(--offline);
}

#globeContainer:hover {
    cursor: grab;
}

#globeContainer:active {
    cursor: grabbing;
}

#labelToggle {
    margin: 10px;
    font-size: 2em;
}

#globeContainer {
    margin: 3vh;
    height: 70vh;
}

#outer-reload {
    margin: -1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--white);
    cursor: pointer;
    user-select: none;
    border: solid 1px var(--white);
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
}

#outer-reload:hover {
    color: var(--background);
    background-color: var(--white);
    -webkit-text-stroke: 1px var(--background);
}

#outer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate-animation {
    animation: rotateAnimation 0.5s;
}

@media screen and (max-width: 1350px) {
    #status-legend {
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        margin-bottom: 5px;
    }

    #globeContainer {
        margin-top: 1px;
        margin-bottom: 2px;
    }

    .dot {
        margin: 6px;
    }
}

@media screen and (max-height: 800px) {
    #status-legend {
        order: -4;
    }

    #outer-reload {
        flex-shrink: 0;
        margin: 10px;
        order: -3;
    }

}